@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  display:grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";

}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0px 5px 0px 2px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav ,section{
  display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  grid-area: main;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  grid-area: footer;
}
/* ====================== Navigation ====================== */

header {
  grid-area:header;
}
nav {
  width: 100%;
  /* height: 80px; */
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /* width: calc(50% - 80px); */
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  grid-area:map;
}

#map-container{
  grid-area: map;
}

/* ====================== Main ========================= */

#maincontent {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "map map map map"
    "restaurants restaurants restaurants restaurants"
}




/* ====================== Restaurant Filtering ====================== */
.filter-options {
  /* width: 100%; */
  height: 50px;
  background-color: #3397DB;
  align-items: center;
  grid-area: filter;
  display: flex;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px 10px 10px 0px;
  padding: 5px 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants {
  grid-area: restaurants;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "filter filter filter filter"
    "restaurants-list restaurants-list restaurants-list restaurants-list"
}

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  grid-area:restaurants-list;
  display: grid;

}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 15px 30px 25px;
  text-align: left;
  width: 270px;
  box-shadow: 2px 5px 22px 4px rgba(0,0,0,0.41);
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside {
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "inside-header" "inside-header" "inside-header" "inside-header"
  "inside-main" "inside-main" "inside-main" "inside-main"
  "inside-footer" "inside-footer" "inside-footer" "inside-footer";
}

.inside header {
  top: 0;
  width: 100%;
  grid-area: inside-header;
}

#inside-maincontent {
  grid-area: inside-main;
  display:grid;
}

#inside-maincontent #map-container {
  background: blue none repeat scroll 0 0;
  height: 100%;
  grid-area: inside-map;
}

#inside-maincontent #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  grid-area: inside-footer;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#inside-maincontent #restaurant-container {
  padding:20px 0px 20px 20px;
  grid-area: inside-restaurant;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}

#inside-maincontent #reviews-container {
  grid-area: inside-reviews;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: grid;
}
#reviews-list li {
  background: #333;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

.review-name {
  grid-area: review-name;
  grid-column: 1/1;
  grid-row: 1/1 ;
}

.review-date {
  grid-area: review-date;
  grid-column: 2/2;
  grid-row: 1/1 ;
}

.review-rating {
  grid-area: review-rating;
  grid-column: 1/-1;
  grid-row: 2/2 ;
}

.review-comment {
  grid-area: review-comment;
  grid-column: 1/-1;
  grid-row: 3/3 ;
}

#reviews-list li p:nth-child(1) {
  margin-right: 5px;
  font-size: 12pt;
  color:white;
  font-weight: 300;
  letter-spacing: 5px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#reviews-list li p:nth-child(2)  {
  font-size: 8pt;
  color:white;
  font-weight: 300;
  letter-spacing: 5px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#reviews-list li p:nth-child(3)  {
    font-size: 8pt;
    color:white;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
}

#reviews-list li p:nth-child(4)  {
  font-size: 8pt;
  color:white;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 2px 0;
  text-align: center;
}



@media only screen and (max-width: 470px) {

  .filter-options {
    flex-direction: column;
    padding: 10px;
    height: unset;
  }

  #restaurants-list {
    padding: unset;
  }


}

@media only screen and (min-width: 599px) {

  body {
    grid-template-columns: 1fr;
  }

  #maincontent {
    grid-template-columns: 1fr;
  }

  #restaurants {
    grid-template-columns: 1fr;
  }

  #restaurants-list {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .filter-options select {
    width: 150px;
    font-size: 9px;
  }

  /* reviews pages */

  #inside-maincontent {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(300px , auto);
  }


  #inside-maincontent #restaurant-container {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  #inside-maincontent #map-container {
    height:500px;
  }

  #inside-maincontent #map-container {
    grid-column: 1/1;
    grid-row: 3/3;
  }

  #inside-maincontent #reviews-container {
    grid-column: 1/1;
    grid-row: 2/2;
  }

  #reviews-list {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    padding: 10px;
    width:100%;

  }

}


@media screen and (min-width: 600px) {
  #restaurants-list {
    grid-template-columns: repeat(2, 1fr);
  }

  #restaurants-list li{
    margin: 15px 5px 15px 5px;
  }

  #inside-maincontent {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(200px , auto);
  }


  #inside-maincontent #restaurant-container {
    grid-row:1/2 ;
    grid-column:1/3 ;
  }

  #inside-maincontent #map-container {
    grid-row: 1 /2 ;
    grid-column:3 /-1 ;
  }

  #inside-maincontent #reviews-container {
    grid-row: 3/2;
    grid-column: 1/-1;
    padding: 50px;
  }

  #reviews-list {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
  }

  #reviews-list li {
    box-shadow: 2px 5px 22px 4px rgba(0,0,0,0.41);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: flex-start;
  }

 }

@media screen and (min-width: 755px) {
  #restaurants-list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  #restaurants-list li{
    margin: 15px 15px 15px 15px;
  }


  #reviews-list {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
  }


 }


@media screen and  (min-width: 900px) {
  #restaurants-list {
    grid-template-columns: repeat(4, 1fr);
  }

  #restaurants-list li{
    margin: 15px 5px 15px 5px;
  }

  #reviews-list {
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
  }

 }
